<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sorting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84EF82831C0C7F7100DF0A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EF829C1C0C7F7300DF0A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EF82A71C0C7F7400DF0A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
